<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background-image">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
  <div class="form">
        <ion-avatar class="image-center">
          <img src="https://gravatar.com/avatar">
        </ion-avatar>
        <br>
        <br>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]='email'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]='password' type = 'password'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input [(ngModel)]='cpassword' type='password'></ion-input>
  </ion-item>

  <br>
  <ion-button (click)='signup()' expand='block'>Register</ion-button>
      <h5 (click)='login()'>Already have account? <ion-text color='primary'>click here</ion-text>
      </h5>

      </div>
            </ion-col>
            </ion-row>
            </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-text color="dark">
      <h6><ion-icon name="at-circle-outline"></ion-icon> Made by Syrine Nacer, Eya Harbaoui and Khaled Achech.</h6>
    </ion-text>
  </ion-toolbar>
</ion-footer>