.background-image {
  --background: url(../../assets/main.jpg) 0 0/100% 100% no-repeat;
}
.transparent {
  background: rgba(255, 255, 255, 0.5);
}

.lighter_blue {
  background: rgba(68, 65, 231, 0.13);
}
